#card-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#card-list h4,h2 {
  color: #929292;
  text-align: center;
}

#card-list h2 {
  font-weight: 600;
}

.card-custom {
  width: 100%;
  border: none;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img-div {
  width: 100vw;
}

.img-div img {
  object-fit: cover;
  width: 100%;  
}

.img-div-modal {
  width: 20vw;
}

.img-div-modal img {
  object-fit: cover;
  width: 100%;  
}

.info-div {
  min-height: 94px;
  width: 100%;
}

.list-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;
}

.card-info {
  display: flex;
  justify-content: start;
  background-color: var(--main-color);
  width: 90%;
  max-height: 50px;
  border-radius: 0px 16px 16px 0px;
}

.card-info p {
  color: white;
  font-weight: 600;
}

