 h1 {
     text-align: center;
     font-size: 18px;
     font-family: 'Khula';
     font-style: normal;
     font-weight: 700;
     line-height: 10px;
     color: white;
 }

 .text-on-line {
     background: #D9D9D9;
     padding: 10px;
     font-family: 'Khula';
     font-style: normal;
     font-weight: 300;
     font-size: 18px;
     line-height: 15px;
     color: #B66E6F;
 }

 .filter_list {
     font-family: 'Khula';
     font-style: normal;
     font-weight: 300;
     font-size: 18px;
     line-height: 10px;
 }

 input[type="checkbox"].checked {
     background-color: #b66e6f;
 }


 input[type="checkbox"] {
     appearance: none;
     -webkit-animation: normal;
     box-sizing: border-box;
     width: 30px;
     height: 26px;
     left: 52px;
     top: 258px;
     background: #FFFFFF;
     border: 1px solid #B66E6F;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 }

.botao-aplicar {
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 16px 30px;
     width: 280px;
     height: 42px;
     background: rgba(189, 56, 61, 0.62);
     border-radius: 20px;
     border:none;
     color: #FFFFFF;
 }